@import url('https://fonts.googleapis.com/css?family=VT323');

:root {
  --colour1: #C0B2B2;
  --colour2: #A5878F;
  --colour3: #896378;
  --colour4: #6E4468;
  --colour5: #4B2A53;
  --colour6: #271637;
  --colour7: #0C081C;
  --white-text: #FAF5F5;

  --main-font: 'VT323', monospace;

  --progress-container-border-rad: 1.25rem;
  --progress-border-rad: 0.75rem;

  --snackbar-top: 2%;
  --snackbar-fade: 0.5s;
}

/*For phones*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--main-font);
    line-height: 1.6;
    overflow: hidden;
    height: 100%;
    background-color: var(--colour7);
  }

  main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    scroll-snap-type: y mandatory;
  }
  
  .section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* section container*/
  .centered-box {
    height: 100%;
    width: auto;
    background-color: var(--colour7);
    text-align: center;
    color: var(--white-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*question text*/
  h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 5%;
    font-size: 3.5rem;
  }

  /*photo*/
  .centered-box img {
    height: 100%;
    box-shadow: none;
    object-fit: cover;
  }

  .button-container {
    position: absolute;
    height: 45%;
    width: 100%;
    bottom: 0%;
    text-align: center;
    color: var(--white-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  /*option boxes*/
  .button-container button {
    font-family: var(--main-font);
    width: 60%;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-text);
    padding: 3%;
    text-align: center;
    font-size: 1.8rem;
    text-decoration: none;
    border: 0.5rem solid var(--white-text);
    transition: transform 0.2s ease-in-out;
  }

  /*progress bar*/
  .progress-bar-container {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--progress-container-border-rad);
    overflow: hidden;
    height: 4%;
    position: absolute;
    top: 2%;
    text-align: center;
    color: var(--white-text);
    border: 0.5rem solid var(--white-text);
  }
  .progress-bar {
    height: 100%;
    width: 0%;
    background-color: var(--colour1); /*temp*/
    border-radius: var(--progress-border-rad);
  }

  /*rabbit spritesheet-specific TODO: change dimensions*/
  .progress-sprite {
    position: absolute;
    height: 208px;
    width: 156px;
    background: url("images/spritesheets/rabbitSpriteSheet.png");
    animation: prog-sprite 0.9s steps(2) infinite;
    top: 1.5%;
    transform: translate(-53px, -83.2px) scale(0.2); 
    /*x translate is 0.2 scale times rabbit original width times 2 = 62.4 + a tiny amount*/
  }

  @keyframes prog-sprite {
    to { background-position: -312px; }
  }

  /*foreground guy*/
  .foreground-sprite {
    position: absolute;
    height: 208px;
    width: 156px;
    background: url("images/spritesheets/rabbitSpriteSheet.png");
    animation: fore-sprite 0.9s steps(2) infinite;
  }

  @keyframes fore-sprite {
    to { background-position: -312px; }
  }

  /*fade-in class for html elements*/
  .fade-in {
    opacity: 0;
    transform: translateY(0.5rem);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  .fade-in.in-view {
    opacity: 1;
    transform: translateY(0);
  }

  /*toast/snackbar stuff*/
  #snackbar {
    visibility: hidden;
    min-width: 80%;
    margin-left: -40%; /*min-width / 2 */
    background-color: rgba(12, 8, 28, 0.8);
    color: var(--white-text);
    text-align: center;
    border-radius: 0.2rem;
    padding: 1.25rem;
    position: fixed;
    left: 50%;
    top: var(--snackbar-top);
  }
  
  #snackbar.show {
    visibility: visible;
    /*2s delayed fadeout process*/
    -webkit-animation: snackbar-fadein var(--snackbar-fade), snackbar-fadeout var(--snackbar-fade) 2s;
    animation: snackbar-fadein var(--snackbar-fade), snackbar-fadeout var(--snackbar-fade) 2s;
  }
  
  @-webkit-keyframes snackbar-fadein {
    from {top: 0; opacity: 0;}
    to {top: var(--snackbar-top); opacity: 1;}
  }
  
  @keyframes snackbar-fadein {
    from {top: 0; opacity: 0;}
    to {top: var(--snackbar-top); opacity: 1;}
  }
  
  @-webkit-keyframes snackbar-fadeout {
    from {top: var(--snackbar-top); opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  @keyframes snackbar-fadeout {
    from {top: var(--snackbar-top); opacity: 1;}
    to {top: 0; opacity: 0;}
  }

  /*mon image on top of mirror*/
  .mon-image {
    position: absolute;
    height: 320px;
    width: 320px;
    background: url("images/monsters/enfp.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  
  @media only screen and (min-width: 768px) {
    /*For Tablet*/
    
    /*question text*/
    h1 {
      font-size: 5rem;
    }
  
    .button-container {
      height: 40%;
      gap: 2.4rem;
    }
  
    /*option boxes*/
    .button-container button {
      width: 70%;
      padding: 5%;
      font-size: 2.7rem;
      border-width: 0.75rem;
    }
  
    /*progress bar*/
    .progress-bar-container {
      top: 3%;
      border-width: 0.6rem;
    }

    .progress-sprite {
      top: 7%;
      transform: translate(-50px, -130px) scale(0.3);
    }
  }

  @media only screen and (min-width: 992px) {
    /*iPad Pro, Laptops, Desktops, Monitors and up*/

    /*question text*/
    h1 {
      padding: 5%;
      font-size: 4rem;
    } 

    .button-container {
      gap: 2.5rem;
    }

    /*option boxes*/
    .button-container button {
      width: 60%;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 3%;
      font-size: 1.8rem;
      border-width: 0.5rem;
      transition-duration: 0.5s;
    }
    .button-container button:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }

    .progress-sprite {
      top: 1.9%;
      transform: translate(-48px, -80px) scale(0.25);
    }
  }