@import url('https://fonts.googleapis.com/css?family=VT323');

:root {
  --colour1: #C0B2B2;
  --colour2: #A5878F;
  --colour3: #896378;
  --colour4: #6E4468;
  --colour5: #4B2A53;
  --colour6: #271637;
  --colour7: #0C081C;
  --white-text: #FAF5F5;

  --main-font: 'VT323', monospace;

  --progress-container-border-rad: 1.25rem;
  --progress-border-rad: 0.75rem;

  --snackbar-top: 2%;
  --snackbar-fade: 0.5s;
}

/*For phones*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--main-font);
    line-height: 1.5;
    overflow: auto;
    height: 100%;
    background-color: var(--colour7);
  }

  main {
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin-top: 5vh;
    scroll-snap-type: y mandatory;
  }
  
  .section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* section container*/
  .centered-box {
    height: 100%;
    width: fit-content;
    background-color: var(--colour7);
    text-align: center;
    color: var(--white-text);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }

  /*question text*/
  h1 {
    position: absolute;
    top: 12%;
    bottom: 10%;
    margin: 5%;
    padding: 1%;
    font-size: 1.5rem;
    /* font-weight: lighter; normal=400, bold=700 */
    line-height: 1.7rem;
    letter-spacing: 0.1rem;
  }

  /*photo*/
  .centered-box img {
    height: 100%;
    box-shadow: none;
    object-fit: cover;
  }

  .button-container {
    position: absolute;
    height: 40%;
    width: 100%;
    bottom: 0%;
    text-align: center;
    color: var(--white-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
  }

  /*option boxes*/
  .button-container button {
    font-family: var(--main-font);
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-text);
    padding: 2.5%;
    text-align: center;
    font-size: 1.35rem;
    line-height: 1.3rem;
    text-decoration: none;
    border: 0.25rem solid var(--white-text);
    transition: transform 0.2s ease-in-out;
  }

  /*progress bar*/
  .progress-bar-container {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--progress-container-border-rad);
    overflow: hidden;
    height: 4%;
    position: absolute;
    top: 2%;
    text-align: center;
    color: var(--white-text);
    border: 0.5rem solid var(--white-text);
  }
  .progress-bar {
    height: 100%;
    width: 0%;
    background-color: var(--colour1); /*temp*/
    border-radius: var(--progress-border-rad);
  }

  /*rabbit spritesheet-specific*/
  .progress-sprite {
    position: absolute;
    height: 208px;
    width: 156px;
    background: url("images/spritesheets/rabbitSpriteSheet.png");
    animation: prog-sprite 0.9s steps(2) infinite;
    top: 1.25%;
    transform: translate(-53px, -83.2px) scale(0.25); 
    /*x translate is 0.2 scale times rabbit original width times 2 = 62.4 + a tiny amount*/
  }

  @keyframes prog-sprite {
    to { background-position: -312px; }
  }

  /*foreground guy*/
  .foreground-sprite {
    position: absolute;
    height: 220px;
    width: 220px;
    background: url("images/forest/0sprite.png");
    animation: fore-sprite 2s steps(4) infinite;
    transform: scale(0.4);
    top: 37%;
    left: 10%;
  }

  /*rabbit foreground*/
  .rabbit-sprite {
    position: absolute;
    height: 208px;
    width: 156px;
    background: url("images/spritesheets/rabbitSpriteSheet.png");
    animation: rabb-sprite 0.9s steps(2) infinite;
    transform: scale(0.4);
    top: 42%;
    left: 28%;
  }

  /*creds hyperlink*/
  a {
    position: absolute;
    bottom: 7%;
    font-size: 1.1rem;
    color: var(--white-text);
    font-weight: lighter;
  }

  @keyframes fore-sprite {
    to { background-position: -880px; }
  }

  @keyframes rabb-sprite {
    to { background-position: -312px; }
  }

  /*fade-in class for html elements*/
  .fade-in {
    opacity: 0;
    transform: translateY(0.5rem);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  .fade-in.in-view {
    opacity: 1;
    transform: translateY(0);
  }

  /*toast/snackbar stuff*/
  #snackbar {
    visibility: hidden;
    min-width: 80%;
    margin-left: -40%; /*min-width / 2 */
    background-color: rgba(12, 8, 28, 0.8);
    color: var(--white-text);
    text-align: center;
    border-radius: 0.2rem;
    padding: 1.25rem;
    position: fixed;
    left: 50%;
    top: var(--snackbar-top);
  }
  
  #snackbar.show {
    visibility: visible;
    /*2s delayed fadeout process*/
    -webkit-animation: snackbar-fadein var(--snackbar-fade), snackbar-fadeout var(--snackbar-fade) 2s;
    animation: snackbar-fadein var(--snackbar-fade), snackbar-fadeout var(--snackbar-fade) 2s;
  }
  
  @-webkit-keyframes snackbar-fadein {
    from {top: 0; opacity: 0;}
    to {top: var(--snackbar-top); opacity: 1;}
  }
  
  @keyframes snackbar-fadein {
    from {top: 0; opacity: 0;}
    to {top: var(--snackbar-top); opacity: 1;}
  }
  
  @-webkit-keyframes snackbar-fadeout {
    from {top: var(--snackbar-top); opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  @keyframes snackbar-fadeout {
    from {top: var(--snackbar-top); opacity: 1;}
    to {top: 0; opacity: 0;}
  }

  
  @media only screen and (min-width: 744px) {
    /*For iPad Mini 6 and up*/
    
    /*question text*/
    h1 {
      font-size: 2rem;
      line-height: 1.8rem;
      top: 10%;
    }
  
    .button-container {
      gap: 1.75rem;
    }
  
    /*option boxes*/
    .button-container button {
      font-size: 1.4rem;
    }
  
    /*progress bar*/
    .progress-bar-container {
      top: 3%;
      border-width: 0.6rem;
    }

    .progress-sprite {
      top: 7%;
      transform: translate(-38px, -125px) scale(0.28);
    }

    /*foreground guy*/
    .foreground-sprite {
      transform: scale(0.45);
      top: 48%;
      left: 25%;
    }

    /*rabbit foreground*/
    .rabbit-sprite {
      transform: scale(0.45);
      top: 50%;
      left: 33%;
    }

    /*creds hyperlink*/
    a {
      bottom: 6%;
      font-size: 1rem;
    }
  }

  @media only screen and (min-width: 992px) {
    /*iPad Pro, Laptops*/

    /*question text*/
    h1 {
      padding: 2%;
      font-size: 1.6rem;
      line-height: 1.4rem;
      /* font-weight: lighter; */
    } 

    .button-container {
      height: 35%;
      gap: 1.4rem;
    }

    /*option boxes*/
    .button-container button{
      padding: 3%;
      font-size: 1.4rem;
    }

    /*progress bar*/
    .progress-bar-container {
      height: 4.5%;
      border-width: 0.4rem;
    }

    .progress-sprite {
      top: 1%;
      transform: translate(-53px, -75px) scale(0.23);
    }

    /*foreground guy*/
    .foreground-sprite {
      transform: scale(0.4);
      top: 46%;
      left: 22%;
    }

    /*rabbit foreground*/
    .rabbit-sprite {
      transform: scale(0.4);
      top: 50%;
      left: 35%;
    }

    /*creds hyperlink*/
    a {
      bottom: 5%;
    }
  }

  @media only screen and (min-width: 1200px) {
    /* Laptop, Desktops, Monitors and up*/

    /*question text*/
    h1 {
      font-size: 1.55rem;
    } 

    /*option boxes*/
    .button-container button{
      font-size: 1.2rem;
    }

    .button-container button:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }

    .progress-sprite {
      transform: translate(-54px, -75px) scale(0.22);
    }

    /*foreground guy*/
    .foreground-sprite {
      transform: scale(0.45);
      top: 46%;
      left: 25%;
    }

    /*rabbit foreground*/
    .rabbit-sprite {
      transform: scale(0.45);
      top: 50%;
      left: 30%;
    }
  }